.Dialog {
  max-width: 600px;
  min-width: 500px;
  background: white;
  position: relative;
}

.Dialog-close {
  display: none;
  cursor: pointer;
}

.Dialog.closable .Dialog-close {
  display: block;
}

.Dialog-button {
  margin-top: 10px;
}

.Dialog-button:first-child {
  margin-top: 20px;
}

